<header class="bar-title">
  <a class="button-prev" id="details-back">Back</a>
  <h1 class="title"><%= @service['location_name'] %></h1>
</header>

<div class="content">
  <a href="tel:<%= @service['phone'] %>" class="button-block button-positive">Call <%= @service['phone'] %></a>

  <ul class="list inset">
    <li class="list-divider">Opening Times</li>
    <li><%= simple_format(@service['opening_times']) %></li>
  </ul>

  <ul class="list inset">
    <li class="list-divider">Qualifying Comments</li>
    <li><%= simple_format(@service['qualifying_comments']) %></li>
  </ul>

  <ul class="list inset">
    <li class="list-divider">Address</li>
    <li><%= simple_format(@service['address']) %></li>
  </ul>
</div>

